bs-modal-backdrop {
  &.modal-backdrop {
    z-index: 0;
  }
}

image-upload {
  .crop-area {
    background: #e4e4e4;
    height: 100%;
  }
  .cropped-image {
    margin-top: 10px;
    text-align: center;
    img {
      width: 100px;
    }
  }

  .modal-body .actions {
    text-align: center;
  }

  .image-upload-without-crop {
    .image-upload-input {
      display: none;
    }
  }
}
