<div class="image-upload-without-crop" *ngIf="!cropEnabled">
  <input #fileInput type="file" class="image-upload-input" (change)="fileSelectedWithoutCrop($event)">
  <a href="#" class="fa fa-camera upload-camera" (click)="fileInput.click()"></a>
</div>

<div class="image-upload-with-crop" *ngIf="cropEnabled">
  <a href="#" class="fa fa-camera upload-camera" (click)="staticModal.show()"></a>

  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: true}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{"profile.image.edit" | translate}}</h3>
        </div>
        <div class="modal-body">
          <image-upload-crop [file]="file" [(data)]="data"></image-upload-crop>
          <div class="actions">
            <button type="submit" class="btn btn-default btn-upload" (click)="finish()">{{"profile.image.upload" |
              translate}}</button>
            <button type="submit" class="btn btn-warning" (click)="staticModal.hide()">{{"profile.image.editor.cancel.button"
              | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
