.discussion-header {
  text-align: right;
  margin-bottom: 20px;
  .period {
    display: inline-block;
    .description {
      font-weight: bold;
      color: #a2a2a2;
    }
  }
  .icon {
    display: inline-block;
    margin-left: 8px;
  }
}
