$selected-color: #f6c445;

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  src: url('./theme/assets/fonts/participa-consulta/Ubuntu-R.ttf');
}

@font-face {
  font-family: 'Ubuntu Medium';
  font-weight: 300;
  font-style: normal;
  src: url('./theme/assets/fonts/participa-consulta/Ubuntu-M.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: italic;
  src: url('./theme/assets/fonts/participa-consulta/Ubuntu-RI.ttf');
}

.profile-footer{
  text-align: center;
}

.container-fluid .navbar-header .navbar-toggle{
  &:hover, &:focus {
    background-color: #7E7E7E;
  }
}

.ats-switch {
  border: 0px;
  border-color: transparent;
}

#navbar {
  &.navbar-static-top {
    margin: 0;
  }
}