.members-block {
  .member {
    img,
    i.profile-image {
      width: 60px;
    }
    img {
      display: inline-block;
      vertical-align: top;
    }
    i.profile-image {
      text-align: center;
      background-color: #889db1;
      color: #f1f1f1;
      font-size: 4.5em;
    }
  }
}
