<div class="menu-block collapse navbar-collapse">
  <ul class="nav navbar-nav nav-pills" [dragula]='bagId' [dragulaModel]='linksEnabled'>
    <li class="menu-link" *ngFor="let link of linksEnabled" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="badge" (click)='removeLink(link)' *ngIf="designMode">
        <i class="fa fa-fw fa-remove"></i>
      </span>
      <a [routerLink]="makeUrl(link)">
        <span *ngIf="!link.isArticle()">{{'blocks.menu.' + link.translationKey() | translate}}</span>
        <span *ngIf="link.isArticle()">{{link.title}}</span>
      </a>
    </li>
    <li *ngIf="designMode">
      <ng-template #popoverTemplate>
        <h4 *ngIf="linksAvailable.length>0">{{'blocks.menu.title' | translate}}</h4>
        <ul class="list-group borderless">
          <li class="list-group-item borderless" *ngFor="let link of linksAvailable">
            <a href="#" class="btn btn-primary" (click)="addLink(link)">{{'blocks.menu.' + link.translationKey() |
              translate}}</a>
          </li>
          <li class="list-group-item borderless">
            <input [(ngModel)]="searchToken" [typeahead]="listOfArticles" (typeaheadOnSelect)="addArticle($event.item)"
              typeaheadMinLength="0" typeaheadOptionsLimit="10" typeaheadOptionField="title" typeaheadWaitMs='500'
              placeholder="{{'blocks.menu.article.placeholder' | translate}}">
            <button type="button" class="btn btn-default btn-close" (click)="popover.hide()">
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </ng-template>
      <a href="#" #popover="bs-popover" triggers="click" [popover]="popoverTemplate" class="menu-new-item">
        <i class="fa fa-plus"></i>
      </a>
    </li>
  </ul>
</div>
