@import "scss/variables";
@import "scss/bootstrap";
@import "bootstrap/forms";

.menublock {
  padding: 0;
  .menu-block {
    .dndPlaceholder {
      width: 100%;
      height: 30px;
      background-color: #dcdcdc;
    }
    .nav-pills {
      .design-mode {
        margin-bottom: 4px;
        &:hover {
          background-color: #dcdcdc;
          cursor: move;
        }
      }
      > .menu-link {
        a {
          color: $panel-default-text;
          border: none;
          text-transform: uppercase;
          margin: 15px 40px;
          padding: 0px;
          font-size: 14px;
          font-weight: 500;
        }
        &.active > a,
        > a:hover {
          border: none;
          background-color: transparent;
          color: $panel-default-text;
        }
        > a::after {
          color: $panel-default-text;
          content: "";
          background: $secondary-color;
          height: 3px;
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: -1px;
          transition: all 250ms ease 0s;
          transform: scale(0);
        }
        &.active,
        &:hover {
          > a::after {
            color: $panel-default-text;
            transform: scale(1);
          }
        }
        .badge {
          position: absolute;
          top: -5px;
          right: 3px;
          background-color: white;
          color: dimgray;
          font-size: 11px;
        }
      }
    }
  }
  .list-group {
    .borderless {
      border: 0 none;
    }
    .list-group-item {
      display: inline-block;
      padding: 5px;
    }
  }
  .popover {
    min-width: 300px;
  }
  .search-article {
    width: 78%;
    display: inline-block;
    @extend .input-sm;
  }
  .btn-close {
    margin-left: 6px;
  }
}
