<a href="#" [permission]="article.permissions" permissionAction="allow_edit" class="btn btn-default btn-xs export-comment-button"
  (click)="export()">
  <i class="fa fa-fw fa-download"></i> {{"comment-paragraph-plugin.export" | translate}}
</a>
