<li *ngIf="!isPerson()" class="profile-actions-item">
  <a [routerLink]="['/myprofile', profile.identifier, 'cms']" [queryParams]="parentId ? {parent_id: parentId, type: 'CommentParagraphPlugin::Discussion'} : {type: 'CommentParagraphPlugin::Discussion'}"
    class="new-discussion">
    <i class="fa fa-file fa-fw fa-lg"></i> {{"profile.actions.new_discussion" | translate}}
  </a>
</li>
