<div *ngIf="isEditable()">
    <div class="profile-image-wrap" title="{{profile.name}}" >
        <div class="hovereffect">
            <i *ngIf="showAlternativeProfileIcon()" class="fa {{defaultIcon}} {{iconSize}} profile-image"></i>
            <img *ngIf="!showAlternativeProfileIcon()" [alt]='"profile.image.description" | translate' [src]="profile.image.url" 
                class="img-responsive profile-image img-circle" (error)="nullImageFromApi=true;">
            <div class='container-camera'>
                <image-upload #imageUpload (finished)="upload($event)"></image-upload>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</div>
<div *ngIf="!isEditable() && profile" class="profile-image-wrap" title="{{profile.name}}">
    <img *ngIf="!showAlternativeProfileIcon()" [alt]='"profile.image.description" | translate' 
        [src]="profile.image.url" class="item-avatar-img img-responsive  img-circle img-profile-nav-popup"
        (error)="nullImageFromApi=true;">
    <i *ngIf="showAlternativeProfileIcon()" class="item-avatar-img fa {{defaultIcon}} fa-5x"></i>
</div>