<div class="scrap-leave">
  <form class="scrap">
    <textarea
      class="form-control custom-control"
      rows="5"
      name="content"
      [(ngModel)]="scrap.content"
      placeholder="{{ 'scrap.leave.message' | translate }}"
      [maxlength]="MAX_CONTENT_SIZE"
    ></textarea>
    <span class="scrap-left"
      ><em>{{ contentLeft() }} {{ "scrap.left" | translate }}</em></span
    >
    <div class="scrap-button">
      <button
        type="submit"
        class="btn btn-default submit-button"
        (click)="save()"
      >
        {{ "scrap.publish" | translate }}
      </button>
    </div>
  </form>
</div>
