<ngx-loading [show]="loading"></ngx-loading>
<profile-list [profiles]="profiles"></profile-list>
<a *ngIf="!isEnvironment()" [routerLink]="['/', 'profile', owner.identifier, 'friends']">
  {{"block.members_block.view_all" | translate}}
</a>
