<form>
  <div class="form-group">
    <label for="titleInput">{{"article.basic_editor.title" | translate}}</label>
    <input type="text" class="form-control" id="titleInput" placeholder="{{'article.basic_editor.title' | translate}}"
      [(ngModel)]="article.name" name="name" #name="ngModel">
    <validation-message #titleValidation [field]="name" [prefix]=""></validation-message>
  </div>
  <div class="form-group">
    <div class="form-inline row">
      <div class="start-date discussion-date col-md-6">
        <label for="startDateInput">{{"comment-paragraph-plugin.discussion.editor.start_date.label" | translate}}</label>
        <my-date-picker class="date-picker" #startDate="ngModel" name="start_date" [(ngModel)]="start_date" [locale]="locale"
          (dateChanged)="onDateChanged('start_date', $event)" required></my-date-picker>
        <validation-message #startDateValidation [field]="startDate" [prefix]=""></validation-message>
      </div>
      <div class="end-date discussion-date col-md-6">
        <label for="endDateInput">{{"comment-paragraph-plugin.discussion.editor.end_date.label" | translate}}</label>
        <my-date-picker class="date-picker" #endDate="ngModel" name="end_date" [(ngModel)]="end_date" [locale]="locale"
          (dateChanged)="onDateChanged('end_date', $event)" required></my-date-picker>
        <validation-message #endDateValidation [field]="endDate" [prefix]=""></validation-message>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="bodyInput">{{"article.basic_editor.body" | translate}}</label>
    <html-editor [(object)]="article" [attribute]="'body'" [options]="options"></html-editor>
  </div>
</form>
