<add-block *ngIf="showButton(column)" (onAdd)="addBlock($event)" [box]="box" [owner]="owner"></add-block>

<ng-container *ngIf="!column?.subcolumns">
  <div *ngIf="box" [dragula]='draggerContainerName' [dragulaOptions]="dragulaOptions" [attr.data-id]="bagId" [ngClass]="{'dagrula-container': (designMode && (box.blocks.length === 0 ))}">
    <noosfero-block *ngFor="let block of box.blocks | orderBy: 'position';  let i = index" [attr.data-id]="block.id"
      [attr.data-position]="block.position" [attr.data-index]="i" [block]="block" [owner]="owner" [box]="box"
      (onRemove)="removeBlock($event)"></noosfero-block>
  </div>
</ng-container>

<noosfero-boxes *ngIf="column?.subcolumns" [columns]="column.subcolumns" [boxes]="boxes" [owner]="owner" [startIndex]="startIndex"></noosfero-boxes>

<div class="dndPlaceholder"></div>
