<div *ngFor="let column of columns; let index=index">
  <div class="{{getBoxClass(column)}} box">
    <noosfero-box [startIndex]="lastIndex" [boxes]="boxes" [box]="getBox(index)" [designMode]="designMode" [column]="column"
      [owner]="owner"></noosfero-box>
  </div>
</div>
