<div class="actions">
  <div class="profile-actions">
    <a
      *ngIf="hasNoRelationship()"
      (click)="addRelationship()"
      class="btn btn-primary btn-sm"
      [ngClass]="'add-in-' + profileType()"
      href="#"
    >
      <em class="fa fa-plus"></em>
      {{ "profile.actions.add_in_" + profileType() | translate }}
    </a>
    <em
      *ngIf="isWaitingApproval()"
      class="btn btn-info btn-sm"
      [ngClass]="'wait-' + profileType()"
    >
      {{ "profile.actions.wait_" + profileType() + ".approval" | translate }}
      <em class="fa fa-exclamation"></em>
    </em>
    <a
      *ngIf="hasRelationship()"
      (click)="removeRelationship()"
      class="btn btn-warning btn-sm"
      [ngClass]="'remove-of-' + profileType()"
      href="#"
    >
      <em class="fa fa-minus"></em>
      {{ "profile.actions.remove_of_" + profileType() | translate }}
    </a>
  </div>
</div>
