<div class='no-content-found row'>
  <div class="content col-md-6">
    <h2>{{ "page.no_content_found.title" | translate}}</h2>
    <p *ngIf="environment">{{ "page.no_content_found." + httpStatus + ".body" | translate:{contact:
      environment.contact_email} }}</p>
  </div>

  <div class="no-content-found-image col-md-6">
    <i class="fa fa-frown-o"></i>
  </div>
</div>
