.no-content-found{
  .content{
    font-size: xx-large;
    h2{
      font-size: 3em;
      text-align: center;
    }
  }
  .no-content-found-image {
    font-size: 15em;
    text-align: center;
  }
}
