<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <div class="register-page">
      <div class="welcome-message">
        <h1>{{"account.activate.title" | translate: {name: environment?.name } }}</h1>
        <div class="environment-signup-intro" *ngIf="environment" [innerHTML]="environment.signup_intro"></div>
        <h2>{{"account.activate.more" | translate }}</h2>
        <p>{{"account.activate.detail" | translate }}</p>
      </div>

      <form name="activateForm" #activateForm="ngForm">
        <div class="row">
          <div class="col-md-12 register-field name-field">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-male"></i>
              </span>
              <input type="text" class="form-control" id="short_activation_code" name="short_activation_code"
                placeholder="{{'account.activate.short_activation_code' | translate }}" required [(ngModel)]="account.short_activation_code"
                #short_activation_code='ngModel'>
            </div>
            <p> {{'account.activate.resend_code' | translate }} </p>
          </div>

          <div class="col-md-12">
            <button type="submit" class="btn btn-default submit-button" [disabled]="activateForm.invalid" (click)="activate()">{{"account.activate.button"
              | translate}}</button>
          </div>

        </div>
      </form>

    </div>
    <div class="col-md-3"></div>
  </div>
