add-block {
  .btn-add-block {
    margin-bottom: 10px;
    width: 100%;
  }
  .btn-confirm-add {
    width: 100%;
  }
  .modal-body {
    overflow-y: scroll;
    height: 90%;
  }
  .placeholder {
    height: 120px;
    background-color: #c7c7c7;
  }
  .block-description {
    height: 80px;
  }
  .block-name {
    height: 38px;
    margin-bottom: 5px;
  }
  .modal-dialog {
    height: 87%;
  }
  .modal-content {
    height: 100%;
  }
}
