<profile-list [profiles]="profiles"></profile-list>
<a *ngIf="isEnvironment()" [routerLink]="['/', 'search', 'communities']">
  {{"block.communities_block.view_all" | translate}}
</a>
<a *ngIf="!isEnvironment()" [routerLink]="['/', 'profile', owner.identifier, 'communities']">
  {{"block.communities_block.view_all" | translate}}
</a>
