.article {
  .page-info {
    .author {
      a {
        color: #b4bcc2;
      }
    }
  }

  .page-header {
    margin: 0px 0px 5px 0px;
    padding: 0px;
  }

  .sub-header {
    margin-bottom: 20px;
  }
}
