<ngx-loading [show]="loading"></ngx-loading>

<div class="person-friends container-fluid">
    <h2>{{ 'myprofile.configuration.people' | translate}}</h2>

    <form class="form friends-filter" (ngSubmit)="searchFriends()" #profileForm="ngForm">
        <div class="input-group margin-bottom-sm">
            <input [(ngModel)]="search" (ngModelChange)="searchChanged.next($event)" class="form-control" type="text" placeholder="{{ 'profile.friends.search.label' | translate }}" name="search">
            <span class="input-group-addon">
                <button type="submit" class="btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>

    <profile-list [profiles]="friends" [displayStyle]="getDisplayStyle()"></profile-list>

    <pagination *ngIf="total>0" [totalItems]="total" [itemsPerPage]="perPage"
    [(ngModel)]="currentPage" (pageChanged)="loadPage($event)" boundaryLinks="true"
    firstText="«" lastText="»" previousText="‹" nextText="›"
    class="pagination-sm center-block"></pagination>
</div>