<span dropdown>
  <a href dropdownToggle (click)="false">
    <i class="fa fa-fw icon {{currentIcon}}"></i> <i class="fa fa-fw fa-caret-down"></i>
  </a>
  <ul *dropdownMenu class="dropdown-menu icon-picker">
    <li *ngFor="let icon of availableIcons" class="icon-picker-item">
      <a href="#" (click)="changeIcon(icon)">
        <i class="fa fa-fw {{icon}}"></i>
      </a>
    </li>
  </ul>
</span>
