<span *ngIf="designMode">
  {{ name || ("edit.inline.link" | translate) }}
  <ng-template #popoverTemplate>
    <form (ngSubmit)="save()">
      <div class="form editable-link-form">
        <div class="form-group">
          <label class="control-label">{{"editable-link.form.name" | translate}}</label>
          <input type="text" class="form-control input-sm" [(ngModel)]="modifiedLink.name" #name="ngModel" id="name"
            name="name">
        </div>
        <div class="form-group">
          <label class="control-label">{{"editable-link.form.address" | translate}}</label>
          <input type="text" class="form-control input-sm" [(ngModel)]="modifiedLink.address" #address="ngModel" id="address"
            name="address">
        </div>
        <div class="actions">
          <button type="button" class="btn btn-primary" (click)="save()"><span class="fa fa-check"></span></button>
          <button type="button" class="btn btn-default" (click)="cancel()"><span class="fa fa-close"></span></button>
        </div>
      </div>
    </form>
  </ng-template>
  <a href="#" #popover="bs-popover" triggers="click" [popover]="popoverTemplate" (click)="copyLink()"><i class="pencil-icon"></i></a>
</span>

<span *ngIf="!designMode">
  <a [attr.href]="modifiedLink.address | noosferoTemplate:{profile: owner.identifier}"> {{ modifiedLink.name }} </a>
</span>
