<div class="highlights-block-settings" *ngIf="block">
  <button (click)="isCollapsed = !isCollapsed" class="extra-settings-btn btn btn-link">
    <em class="fa fa-caret-down"></em> {{ "block.edition.extra_config" | translate }}
  </button>

  <div [collapse]="isCollapsed" class="slides">
      <div class="form-group">
        <span for="displaySelect">{{"comment-paragraph-plugin.discussion.which_display" | translate}}</span>
        <select name="displaySelect" class="form-control" (change)="updateBlock()" [(ngModel)]="discussion_status">
          <option value="0">{{"comment-paragraph-plugin.discussion.display.not_opened_discussions" | translate}}</option>
          <option value="1">{{"comment-paragraph-plugin.discussion.display.available_discussions" | translate}}</option>
          <option value="2">{{"comment-paragraph-plugin.discussion.display.closed_discussions" | translate}}</option>
        </select>
      </div>
      <div class="form-group">
        <span>{{"comment-paragraph-plugin.discussion.total_items" | translate}}</span>
        <input type="number" [(ngModel)]="total_items" (change)="updateBlock()">
      </div>

      <br class="clear">
  </div>
</div>
