<ngx-loading [show]="loading"></ngx-loading>
<choose-article *ngIf="designMode" (onChoose)="addFixedDocuments($event)"></choose-article>

<div *ngFor="let document of documents" class="documents">
  <div *ngIf="isDocumentFixed(document) && designMode" class="fixed">
    <i class="fa fa-map-pin" (click)="removeFixed(document)"></i>
  </div>
  <div *ngIf="!presentFullContent()" class="panel media">
    <div class="media-left media-middle">
      <img *ngIf="document.image" [src]="document.image.url" class="discussion-image">
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a [routerLink]="'/' + document.profile?.identifier + '/' + document.path">
          {{document.title}} <i *ngIf="isPrivate(document)" class="private-article fa fa-lock"></i>
        </a>
      </h4>
      <div class="subheader">
        <discussion-period [article]="document"></discussion-period>
      </div>
      <p>{{(document.body || '') | stripTags | shorten: 200: '...': true }}</p>
      <p *ngIf="presentAbstract()" class="abstract media-heading" [innerHTML]="document.abstract"></p>
    </div>
  </div>
  <noosfero-default-article *ngIf="presentFullContent() && document" [article]="document" [profile]="profile"></noosfero-default-article>
</div>
<div class='see-all'>
  <a [routerLink]="viewAllBasePath()" [queryParams]="viewAllParams()">
    {{"comment-paragraph-plugin.discussion.view_all" | translate}}
  </a>
</div>
