noosfero-comment-paragraph-plugin-discussion-block-settings {
  .form-group {
    clear: both;
    padding-top: 10px;
    span{
      max-width: 50%;
      float: left;
      margin-left: 2%;
    }
    select, input{
      max-width: 45%;
      float: left;
      margin-left: 2%;
    }
  }
}
