@import "scss/variables";
@import "scss/bootstrap";
@import "bootstrap/grid";

.block {
  noosfero-comment-paragraph-plugin-discussion-block {
    .discussion-image {
      width: 64px;
      height: 64px;
    }
    .article-image {
      margin: 10px 0;
    }
  }

  .article-image {
    width: 3.5em;
    height: 3.5em;
  }

  .panel {
    display: table-cell;
  }
  .fixed {
    vertical-align: middle;
    display: table-cell;
    i {
      font-size: x-large;
    }
  }
  .see-all {
    text-align: center;
    font-size: larger;
    margin-top: 10px;
  }
}
