<div class="comments">
  <noosfero-post-comment (commentSaved)="commentAdded($event)" *ngIf="showForm" [article]="article" [parent]="parent"
    [comment]="newComment"></noosfero-post-comment>

  <div class="comments-list">
    <noosfero-comment (commentRemoved)="commentRemoved($event)" *ngFor="let comment of comments | orderBy: 'created_at'"
      [comment]="comment" [article]="article"></noosfero-comment>
  </div>

  <button type="button" *ngIf="displayMore()" class="more-comments btn btn-default btn-block" (click)="loadNextPage()">{{"comment.pagination.more"
    | translate}}</button>
  <pagination *ngIf="displayFullPagination()" [(ngModel)]="page" [totalItems]="total" class="pagination-sm center-block"
    [boundaryLinks]="true" (numPages)="perPage" (pageChanged)="loadNextPage()" firstText="«" lastText="»" previousText="‹"
    nextText="›">
  </pagination>
</div>
