@import "scss/variables";
@import "scss/bootstrap";
@import "bootstrap/type";
@import "bootstrap/scaffolding";

noosfero-comment {
  .comment {
    margin: 20px;
    .date {
      @extend .text-muted;
      @extend .small;
      margin-left: 8px;
      font-size: 12px;
    }
    .title {
      font-weight: bold;
    }
    .actions {
      .action {
        text-decoration: none;
        &:first-child {
          .bullet-separator {
            display: none;
          }
        }
        .bullet-separator {
          font-size: 8px;
          vertical-align: middle;
          margin: 3px;
          color: #b6c2ca;
        }
      }
    }
    .media-left {
      min-width: 40px;
    }
    .media-body {
      padding: 0 10px 10px 0;
      .reply-of {
        font-size: 12px;
        color: #b5b5b5;
        margin-left: 5px;
        i {
          font-size: 10px;
        }
      }
      .profile-name {
        font-size: 16px;
        font-weight: bold;
        color: $primary-color-dark;
      }
    }
    noosfero-profile-image {
      img {
        height: 30px;
        width: 30px;
        max-width: 30px;
        display: inline-block;
        @extend .img-circle;
      }
      i {
        font-size: 1.7em;
      }
    }
    // Limit identation of replies
    .comments {
      margin-left: 30px;
      .comments .comments {
        margin-left: 0px;
        .comment {
          margin-left: 0px;
        }
      }
    }
    .tooltip-inner {
      max-width: 350px;
      text-align: left;
      .reply-tooltip {
        .comment {
          margin: 5px;
        }
      }
    }
  }
}
