.approve-article-accept {
  .approve-article {
    text-align: center;
  }
  .article {
    h2 {
      text-align: center;
    }
    text-align: justify;
  }
  .form {
    margin-top: 35px;
    p {
      font-size: x-small;
    }
    .options {
      text-align: center;
      .radio {
        width: 40%;
        float: left;
        margin: 0px;
      }
    }
  }
}
