<div class="approve-article-accept">
  <div class="approve-article">
    <span class="requestor">{{task.requestor?.name}}</span> {{"tasks.approve_article.message" | translate}}
    <span class="article">{{task.data.name}}</span>
  </div>

  <div *ngIf="article" class="article">
    <h2>{{article.title}}</h2>
    <parse-macros [object]="article" [html]="article.body"></parse-macros>
  </div>

  <div class="form">

    <div class="form-group">
      {{'tasks.approve_article.create_link_label' | translate}}
      <p>{{'tasks.approve_article.create_link_label_detail' | translate}}</p>
      <div class='options'>


        <div class="radio">
          <input type="radio" [(ngModel)]="task.params.create_link" [value]="true">
          <label>{{'tasks.approve_article.create_link' | translate}}</label>
        </div>
        <div class="radio">
          <input type="radio" [(ngModel)]="task.params.create_link" [value]="false">
          <label>{{'tasks.approve_article.copy_link' | translate}}</label>
        </div>
        <span style="clear: both;"></span>
      </div>


    </div>
    <div class="select-folder form-group">
      <label for="folderSelect">{{"tasks.approve_article.select_folder" | translate}}</label>
      <select name="folderSelect" class="form-control" id="folderSelect" [(ngModel)]="task.params.article_parent_id">
        <option *ngFor="let folder of folders" [ngValue]="folder.id">{{folder.path}}</option>
      </select>
    </div>
  </div>
</div>
