<div class="modal login fade" bsModal #loginModal="bs-modal" *ngIf="show" [config]="{ show: true, backdrop: true }"
  tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true" (onHidden)="hide()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{"auth.form.forgot_passwd" | translate}}</h4>
      </div>
      <div class="modal-body">
        <form name="forgotPasswdForm" #form="ngForm">
          <div class="form-group" [ngClass]="{'has-error': form.invalid && form.touched }">
            <label for="forgotPasswdLogin">{{"auth.form.login" | translate}}</label>
            <input type="text" name="username" class="form-control" id="forgotPasswdLogin" placeholder="{{'auth.form.login' | translate}}"
              [(ngModel)]="username" required>
          </div>
          <button type="submit" class="btn btn-default btn-block" (click)="sendPasswdInfo()">
            {{"auth.forgot_password.button.send_instructions" | translate}}
          </button>
        </form>
        <p>{{"auth.forgot_password.action" | translate}}</p>
      </div>
    </div>
  </div>
</div>
