<div class="row">
  <div class="new-password-page col-xs-4 col-xs-offset-4">
    <h1>{{"new_password.title" | translate }}</h1>

    <form name="newPasswdForm" #newPasswdForm="ngForm">
      <div class="form-group" [ngClass]="{'has-error': passwd.invalid && passwd.touched }">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" [(ngModel)]="password" required id="password" name="password"
            #passwd='ngModel' placeholder="{{'account.register.passwordLabel' | translate }}" minlength="4">
        </div>
        <validation-message #passwordErrors [field]="passwd" [prefix]="'account.register.password'"></validation-message>
      </div>

      <div class="form-group" [ngClass]="{'has-error': confirmPasswd.invalid && confirmPasswd.touched }">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
          <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" [(ngModel)]="passwordConfirmation"
            required #confirmPasswd='ngModel' placeholder="{{'account.register.passwordConfirmationLabel' | translate}}">
        </div>
        <validation-message #passwordConfirmErrors [field]="confirmPasswd" [prefix]="'account.register.passwordConfirmation'"></validation-message>
      </div>
      <button type="submit" class="btn btn-default btn-block" (click)="sendNewPassword()">{{"new_password.submit" |
        translate}}</button>
    </form>
  </div>
</div>
