<div class="discussion-header" *ngIf="isDiscussion()">
  <div class="period">
    <div *ngIf="notOpened()" class="description not-opened">
      {{"comment-paragraph-plugin.discussion.notOpened.header" | translate:{date: (article.start_date | dateFormat |
      amTimeAgo)} }}
    </div>
    <div *ngIf="available()" class="description available">
      <div *ngIf="article.end_date" class="with-end-date">
        {{"comment-paragraph-plugin.discussion.available.header" | translate:{date: (article.end_date | dateFormat |
        amTimeAgo)} }}
      </div>
      <div *ngIf="!article.end_date" class="without-end-date">
        {{"comment-paragraph-plugin.discussion.available.without-end.header" | translate}}
      </div>
    </div>
    <div *ngIf="closed()" class="description closed">
      {{"comment-paragraph-plugin.discussion.closed.header" | translate:{date: (article.end_date | dateFormat |
      amTimeAgo)} }}
    </div>
  </div>
  <div class="icon">
    <i [title]="'calendar.icon.description' | translate" class="fa fa-calendar fa-fw fa-lg"></i>
  </div>
</div>
