<i class="task-icon fa fa-fw fa-file-text"></i>
<div class="task-content">
  <span class="requestor">{{task.requestor?.name}}{{task.data?.name}}</span> {{"tasks.suggest_article.message" |
  translate}} <span class="target">{{task.data.article.name}}</span>
</div>
