<ng-template #popoverTemplate>
  <div class="edit-block">
    <div class="list-group block-option" *ngFor='let optionKey of optionsKeys()'>
      <button class="list-group-item btn-link btn" [ngClass]="{'selected': isOptionSelected(optionKey, option)}"
        (click)="selectOption(optionKey, option)" *ngFor='let option of optionsValues(optionKey)'>
        {{"block.edition." + optionKey + "." + option | translate}}
      </button>
    </div>
  </div>
</ng-template>

<a class="action visibility" href="#" #popover="bs-popover" triggers="click" placement="right" [popover]="popoverTemplate">
  <i class="fa fa-ellipsis-v fa-fw"></i>
</a>
