@import 'scss/variables';
@import 'scss/bootstrap';
@import 'bootstrap/buttons';

$green-color: #6e9e7b;

.search-results {
  .summary {
    color: #bbbbbb;
    font-size: 13px;
  }

  .search-filter {
    margin-bottom: 30px;
    .btn-search {
      @extend .btn-link;
      color: #676767;
    }
    .input-group-addon.calendar i{
      padding: 9px;
    }
    .filter-date{
      margin-top: 18px;
      .from{
        margin-right: 10px;
      }
      .to{
        margin-left: 10px;
      }

    }
  }
  .article-results {
    margin: 25px 0;

    .title {
      h4 {
        margin: 0;
      }
    }
    .info {
      .profile-name {
        color: $green-color;
      }
      .time {
        color: $green-color;
        font-size: 12px;
      }
      .bullet-separator {
        margin: 0 2px;
        font-size: 10px;
        color: #afd6ba;
      }
    }
  }

  pagination {
    text-align: center;
    display: block;
  }
}



