<ngx-loading [show]="loading"></ngx-loading>
<div class="search-results container-fluid">

    <div class="summary" [ngPlural]="totalResults">
        <ng-template ngPluralCase="=0">{{"search.results.summary.none" | translate}}</ng-template>
        <ng-template ngPluralCase="=1">{{"search.results.summary.one" | translate}}</ng-template>
        <ng-template ngPluralCase="other">{{"search.results.summary.other" | translate:{results: totalResults} }}</ng-template>
    </div>

    <form class="form search-filter" (ngSubmit)="search()" #profileForm="ngForm">
        <div class="input-group">
            <input [(ngModel)]="query" class="form-control" type="text" placeholder="{{ 'search.results.input.term.label' | translate }}"
                name="search">
            <span class="input-group-addon">
                <button type="submit" class="btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </span>

            <span (click)="filterDate = !filterDate" class="input-group-addon calendar">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
        <div [hidden]="!filterDate" class="filter-date">
            <div class="col-md-9 input-group">
                <input type="text"
                    class="form-control"
                    #dpFromStartDate="bsDatepicker"
                    name="fromStartDate"
                    placeholder="{{ 'search.results.input.date.start.label' | translate }}"
                    [(ngModel)]="fromStartDate"
                    bsDatepicker>
                    <div (click)="dpFromStartDate.show()" class="input-group-addon from"><i class="fa fa-calendar"></i></div>

                <input type="text"
                    class="form-control"
                    #dpUntilEndDate="bsDatepicker"
                    placeholder="{{ 'search.results.input.date.end.label' | translate }}"
                    name="untilEndDate"
                    [(ngModel)]="untilEndDate"
                    bsDatepicker>
                    <div (click)="dpUntilEndDate.show()" class="input-group-addon to"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </form>

    <div *ngFor="let article of articles" class="article-results">
        <a class="title" [routerLink]="articleRouterLink(article)">
            <h4>{{article.title}}</h4>
        </a>
        <div class="info">
            <profile-link [profile]="article.profile" [truncate]="false"></profile-link>
            <span class="bullet-separator">•</span>
            <span class="time">
                <span>{{article.created_at | dateFormat | amTimeAgo}}</span>
            </span>
        </div>
        <div class="post-lead" *ngIf="hasBody(article.body)">{{article.body | stripTags | shorten : 250: '...': true}}</div>
    </div>

    <profile-list *ngIf="!isSearchArticles()" [profiles]="profiles" [owner]="environment" [displayStyle]="getDisplayStyle()"></profile-list>

    <pagination *ngIf="displayPagination()" [(ngModel)]="page" [totalItems]="totalResults" [itemsPerPage]="perPage" class="" (pageChanged)="pageChange($event)"
        [boundaryLinks]="true" [maxSize]="15" firstText="«" lastText="»" previousText="‹" nextText="›">
    </pagination>
</div>
