<div class="abuse-complaint-details">
  <ul class="abuse-reports">
    <li class="abuse-report" *ngFor="let abuse_report of abuse_reports">
      <div class="reason">{{abuse_report.reason}}</div>
      <div class="info">
        {{"tasks.abuse_report.reported_by" | translate}}
        <span class="reported-by">{{abuse_report.reporter.name}}</span>
        <span class="time">
          <span> {{ abuse_report.created_at | dateFormat | amTimeAgo }}</span>
        </span>
      </div>
    </li>
  </ul>
</div>
