.register-page {
    .register-field {
        margin-bottom: 25px;
    }
    .already-registered-message {
        margin-top: 60px;
        text-align: center;
        display: block;
    }
    .welcome-message {
        text-align: center;
    }
    .terms-info {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .login-field {
        i {
            margin-right: 2px;
        }
    }
    button {
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
    }
    input {
        height: 40px;
        &:focus {
            border: 2px solid #bbb;
        }
    }
}

.modal .modal-body-overflow {
    max-height: 420px;
    overflow-y: auto;
}

.modal-dialog {
    width: 60%;
}
