<div class="article" *ngIf="article">
  <div class="page-header">
    <h1>{{article.title}} <i *ngIf="isPrivate()" class="private-article fa fa-lock"></i></h1>
  </div>
  <div class="sub-header clearfix">
    <div class="article-toolbar">
      <button [permission]="article.permissions" permissionAction="allow_edit" class="btn btn-default btn-xs edit-article"
        [routerLink]="['/myprofile', profile.identifier, 'cms', 'edit', article.id]">
        <i class="fa fa-pencil-square-o fa-fw fa-lg"></i> {{"article.actions.edit" | translate}}
      </button>
      <a href="#" [permission]="article.permissions" permissionAction="allow_delete" class="btn btn-default btn-xs delete-article"
        (click)="delete()">
        <i class="fa fa-remove fa-fw fa-lg"></i> {{"article.actions.delete" | translate}}
      </a>
      <noosfero-hotspot-article-toolbar [article]="article"></noosfero-hotspot-article-toolbar>
    </div>
    <div class="page-info pull-right small text-muted">
      <span class="time">
        <i class="fa fa-clock-o"></i> <span>{{article.created_at | dateFormat | amTimeAgo}}</span>
      </span>
      <span class="author" *ngIf="article.author">
        <i class="fa fa-user"></i>
        <profile-link [profile]="article.author"></profile-link>
      </span>
    </div>
  </div>
  <noosfero-hotspot-article-content [article]="article"></noosfero-hotspot-article-content>
  <div class="page-body">
    <parse-macros [object]="article" [html]="article.body"></parse-macros>
  </div>
  <noosfero-comments [article]="article"></noosfero-comments>
</div>
