<div class="noosfero-app {{appClasses}}">
  <ng-progress (completed)="requestFinished()" (started)="requestStarted()"></ng-progress>
  <noosfero-navbar></noosfero-navbar>
  <div class="content-wrapper full-content">
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <theme-footer id="footer"></theme-footer>
  <noosfero-footer></noosfero-footer>
</div>
