<ul id="language-chooser">
  <li *ngFor="let lang of availableLanguageKeys()" class="language language-{{lang}}" ng-class="{'active': lang==currentLanguage()}">
    <a href="#" (click)="changeLanguage(lang)">
      {{languageDescription(lang)}}
    </a>
  </li>
</ul>
