@import "scss/variables";
@import "scss/bootstrap";
@import "scss/font-awesome";
@import "bootstrap/scaffolding";

.friendsblock {
  .panel-title {
    &:before {
      @extend .fa-user;
      @extend .fa-fw;
      @extend .img-circle;
      font-family: FontAwesome;
      background-color: #999999;
      font-size: 22px;
      padding: 10px 13px;
      color: white;
      margin-right: 5px;
    }
  }
}
