<profile-list [profiles]="profiles"></profile-list>
<ngx-loading [show]="loading"></ngx-loading>
<a *ngIf="!isEnvironment()" [routerLink]="['/', 'profile', owner.identifier, 'members']">
  {{"block.communities_block.view_all" | translate}}
</a>
