<div class="video-block">
  <div *ngIf="config.video_type === 'youtube'" class='youtube'>
    <iframe class="video-block-center" [width]="config.width" [height]="config.height" [src]="config.url" frameborder="0"
      webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
  <div *ngIf="config.video_type === 'vimeo'" class='vimeo'>
    <iframe class="video-block-center" [width]="config.width" [height]="config.height" [src]="config.url" frameborder="0"
      webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
  <div *ngIf="config.video_type === 'video'" class='video'>
    <video controls class="video-block-center" [width]="config.width" [height]="config.height">
      <source [src]="config.url">
    </video>
  </div>
</div>
