.video-block-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

noosfero-video-plugin-video-block {
  .video-block {
    height: 400px;
    .overlay {
      display: none;
    }
  }
}

.noosfero-design-on noosfero-video-plugin-video-block {
  .video-block {
    .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      z-index: 100;
      font-size: 5em;
      text-align: center;
      .container-video {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 0;
        left: 50%;
        position: absolute;
        width: 100%;
        transform: translate(-50%);
        .editable {
          color: #fff;
          border-bottom-color: #fff;
        }
        .editable-empty:hover {
          font-style: normal;
        }
        form {
          width: 100%;
          .editable-controls {
            font-size: medium;
            width: 100%;
            display: inline-block;
            .editable-input {
              width: 60%;
              background-color: #171717;
            }
          }
        }
      }
    }
    :hover .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
