@import 'scss/variables';
@import 'scss/bootstrap';
@import 'bootstrap/panels';

.activity {
  padding: 10px 16px 0 16px;
  margin-bottom: 0px;

	.profile-list {
		border: 0;
		.profile-item {
			min-height: 62px;
		}
	}
	.card-type {
		i {
			color: #bdbdbd;
		}
	}
	.card-title {
		a {
			color: $secondary-color;
			.profile-name {
				font-weight: bold;
			}
		}
	}
	.avatar {
		float: left;
		margin-right: 16px;
		.img-profile-nav-popup {
			max-width: 3em;
		}
	}
}
