noosfero-footer {
  .footer {
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
    .user {
      text-align: left;
    }
    .noosfero {
      text-align: right;
      .message {
        margin-right: 10px;
      }
      .noosfero-logo {
        background: url("../../../assets/images/logo-noosfero-dark.png") no-repeat;
        padding: 27px 60px;
        background-position: 2px 16px;
      }
    }
  }
}
