<ngx-loading [show]="loading"></ngx-loading>

<tabset>
  <tab *ngFor="let role of roles" heading="{{getTranslationKey(role) | translate}}" (select)="loadByRole($event, role)">

    <form class="form members-filter" (ngSubmit)="loadByRole($event, role)" #profileForm="ngForm">
      <div class="input-group margin-bottom-sm">
        <input [(ngModel)]="search" (ngModelChange)="searchChanged.next($event)" class="form-control" type="text"
          placeholder="{{ 'profile.members.search.label' | translate }}" name="search">
        <span class="input-group-addon">
          <button type="submit" class="btn-search">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>


    <noosfero-community-members-paginated *ngIf="profile" [profile]="profile" [members]="members" [totalItems]="totalMembers"
      [itensPerPage]="membersPerPage" (pageChanged)="loadByRole($event, role)">
    </noosfero-community-members-paginated>
  </tab>
</tabset>