<div class="members-list">
  <profile-list [profiles]="members" [owner]="profile" [displayStyle]="getDisplayStyle()"></profile-list>
</div>
         
<div class="members-pagination">
  <pagination *ngIf="totalItems>0" [totalItems]="totalItems" [itemsPerPage]="itensPerPage"
    [(ngModel)]="currentPage" (pageChanged)="changePage($event)" boundaryLinks="true"
      firstText="«" lastText="»" previousText="‹" nextText="›"
      class="pagination-sm center-block"></pagination>
</div>
