
@import 'scss/variables';
@import 'scss/bootstrap';
@import 'bootstrap/buttons';

noosfero-community-members{
    .members-pagination {
        display: flex;
        padding-bottom: 30px;
    }

    .nav-item.active a {
        &:focus{
            background-color: white;
        }
        &:hover{
            background-color: white;
        }
        background-color: white;
    }

    .tab-content{
        background-color: white;
        border: 1px solid #ddd;
        border-top: transparent;
    }

    .members-filter {
        padding: 15px;
    }
}
