<ng-template #popoverTemplate>
  <comment-paragraph-side-comments id="side-comments-{{paragraphUuid}}" [article]="article" [paragraphUuid]="paragraphUuid"
    [fullPagination]="fullPagination">
  </comment-paragraph-side-comments>
</ng-template>

<div class="paragraph" [class.active]="display" *ngIf="article">
  <div class="paragraph-content" [innerHTML]="htmlInfo" [class.active]="display"></div>
  <div *ngIf="isActivated()" class="paragraph-actions">
    <a href="#" #popover="bs-popover" placement="right top" triggers="" [popover]="popoverTemplate" (click)="showParagraphComments()">
      <div class="arrow_box linked" [class.active]="display">
        <span class="count">{{commentsCount > 0 ? commentsCount : '+'}}</span>
      </div>
    </a>
  </div>
  <div *ngIf="!isActivated()" class="paragraph-actions">
    <div *ngIf="isAllowedShow()">
      <div class="arrow_box">
        <span class="count">-</span>
      </div>
    </div>
  </div>
</div>
