$balloon-selected-color: #50bf68;
$balloon-color: #c4c4c4;

.macro.article_comments.paragraph_comment {
  .paragraph {
    width: 100%;
    &.active {
      width: 80%;
    }
    .paragraph-content {
      width: 90%;
      display: inline-block;
    }
    .paragraph-actions {
      width: 4%;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      .popover {
        width: 100%;
        max-width: 330px;
      }
      .count {
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-align: center;
        width: 100%;
        display: inline-block;
      }
      .arrow_box {
        position: relative;
        background: $balloon-color;
        margin-top: 5px;
        width: 25px;
        border-radius: 2px;
        &.linked {
          &:hover,
          &.active {
            background: $balloon-selected-color;
            &:after {
              border-top-color: $balloon-selected-color;
            }
          }
        }
        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          position: absolute;
          pointer-events: none;
          border-color: rgba(196, 196, 196, 0);
          border-top-color: $balloon-color;
          border-width: 6px;
          margin-left: -6px;
        }
      }
    }
  }
  .popover-right.top {
    .popover-arrow {
      top: 24px;
      left: 2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
      &::after {
        display: none;
      }
    }
  }
}
