.person-tags-plugin-interests {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    float: left;
    padding: 5px;
    margin: 5px;
    text-transform: lowercase;
    color: #fff;
    background-color: #1e96d0;
  }
}
