<div
  id="context-bar"
  class="container-fluid"
  [permission]="owner.permissions"
  [permissionAction]="permissionAction"
  [ngClass]="{
    'profile-context-bar': isProfile(),
    'environment-context-bar': !isProfile()
  }"
>
  <div id="config-bar-position">
    <div class="alert alert-warning config-option apply" *ngIf="hasChanges()">
      <strong> {{ "contextbar.edition.has_changes" | translate }}</strong>
      <button (click)="apply()" class="btn btn-success btn-sm">
        <em class="fa fa-check fa-fw"></em>
        {{ "contextbar.edition.apply" | translate }}
      </button>
      <button (click)="discard()" class="btn btn-danger btn-sm">
        <em class="fa fa-remove fa-fw"></em>
        {{ "contextbar.edition.discard" | translate }}
      </button>
    </div>
    <profile-actions *ngIf="isProfile()" [profile]="owner"></profile-actions>
    <config-bar *ngIf="owner" [owner]="owner"></config-bar>
  </div>
</div>
