@import "scss/variables";
@import "scss/bootstrap";
@import "bootstrap/buttons";
@import "bootstrap/utilities";

$font-color: #8e8e8e;

context-bar {
  #context-bar {
    text-align: right;
    font-size: 13px;
    color: $font-color;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 0;
    a.btn:not(.btn-default) {
      color: $font-color;
    }
    > :not(:first-child) {
      border-left: 1px solid #e0e0e0;
    }

    .config-option {
      display: inline-block;
      &.apply {
        display: inline-block;
        .btn {
          @extend .btn-xs;
          margin-left: 5px;
        }
      }
      &.alert {
        padding: 4px 15px;
        margin: 0 10px 0 0;
        &.ng-leave {
          animation: 1s lightSpeedOut ease;
        }
        &.ng-enter {
          animation: 1s lightSpeedIn ease;
        }
      }
    }
    &.profile-context-bar {
      #config-bar-position {
        @extend .pull-right;
      }
    }
  }
}
