<div class="cms">
  <div class="row">
    <div class="col-md-9">
      <article-editor *ngIf="article && profile" [article]="article" [path]="path" [profile]="profile"></article-editor>
    </div>
    <div class="col-md-3">
      <article-basic-options *ngIf="article" [article]="article"></article-basic-options>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <button appDebounceClick (debounceClick)="save()" type="submit" ladda="loading" data-style="expand-left"
        data-size="l" class="btn btn-default save-button">{{"article.basic_editor.save" | translate}}</button>
      <button type="button" class="btn btn-warning" (click)="cancel()">{{"article.basic_editor.cancel" | translate}}</button>
    </div>
  </div>
</div>
