.noosfero-block {
  .highlightsblock {
    .panel-body {
      padding: 0px;
    }
  }
}

.highlights-block {
  height: 400px;

  .carousel {
    height: 100%;

    .carousel-inner {
      height: 100%;
      .item {
        height: 100%;
        .image-link {
          height: 100%;
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.7);
      left: 0;
      right: 0;
      bottom: 0;
      .caption {
        margin-bottom: 10px;
      }
      .title {
        font-size: 22px;
        a {
          color: white;
        }
      }
    }
    .carousel-indicators {
      bottom: 0px;
    }

    &.no-controls {
      .carousel-indicators {
        display: none;
      }
    }
  }
}
