<div class="noosfero-block ">
  <div *ngIf="canDisplay()" bootstrapResizable [designMode]="designMode" [(bootstrapResizableColumns)]="columns"
    (bootstrapResizableColumnsChange)="resizeColumn($event)" [class.invisible-block]="!visible()" class=" col-md-{{block.settings?.visualization?.columns || 12}}"
    [@animate]="animation">
    <div *ngIf="designMode" class="actions block-actions" [permission]="block.permissions" permissionAction="allow_edit">
      <span class="dragula-handle" ng-if="designMode"></span>
      <a class="action visibility" href="#" *ngIf="canDelete()" (click)="markForDeletion()">
        <i class="fa fa-remove fa-fw fa-lg"></i>
      </a>
      <noosfero-block-edition [box]="box" [block]="block" [owner]="owner"></noosfero-block-edition>
    </div>
    <div class="panel panel-default block {{blockClass()}}">
      <div class="panel-heading" [hidden]="!designMode && !block.title">
        <h3 class="panel-title">
          <span>
            {{ (block.title | noosferoTemplate:block.api_content ) || ("edit.inline.title" | translate) }}
          </span>
          <noosfero-editable-field *ngIf="designMode" [text]="block.title" (textChange)="updateText($event)" [owner]="owner"
            [designMode]="designMode"></noosfero-editable-field>
        </h3>
      </div>
      <div [ngClass]="{'small':hideContent, 'normal':!hideContent}" class="panel-body {{blockClass()}}">
        <noosfero-block-content [designMode]="designMode" [block]="block" [owner]="owner" (hideBlockChanged)="hideBlockChanged($event)"
          (canDisplayOnPreviewChanged)="canDisplayOnPreviewChangedOnChild($event)"></noosfero-block-content>
      </div>
      <div class="panel-footer {{blockClass()}}" *ngIf='designMode && canDisplayOnPreview'>
        <div class="block-name">{{block.definition.name}}</div>
        <noosfero-block-settings [block]="block" [owner]="owner"></noosfero-block-settings>
      </div>
    </div>
  </div>

</div>
