<ng-container [ngSwitch]="block.type">
  <noosfero-highlights-block-settings *ngSwitchCase="'HighlightsBlock'" [block]="block" [owner]="owner"></noosfero-highlights-block-settings>
  <noosfero-comment-paragraph-plugin-discussion-block-settings *ngSwitchCase="'CommentParagraphPlugin::DiscussionBlock'"
    [block]="block" [owner]="owner"></noosfero-comment-paragraph-plugin-discussion-block-settings>
</ng-container>
