@import "scss/variables";
@import "scss/font-awesome";

.move {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.dragula-handle {
  &:hover {
    opacity: 1;
  }
  @extend .fa;
  @extend .fa-arrows;
  float: left;
  padding: 20px;
  background-color: black;
  color: white;
  padding: 8px;
  // font-size: 1.7em;
  // margin: 7px 8px;
  opacity: 0.15;
  // border-radius: 35px;
}
.dropDragulaElement {
  width: 100%;
  border: 2px dotted black;
  // margin: 10px;
  // padding: 10px;
  background-color: red;
}

.row {
  // margin: 0px;
}

.noosfero-block {
  // &:hover .overlay {
  //   opacity: 1;
  // }
  position: relative;
  padding: 0 !important;

  &.invisible-block {
    .block {
      opacity: 0.4;
    }
  }
  .block {
    min-height: 45px;
    .panel-title {
      font-size: 15px;
      text-transform: uppercase;
    }
    .panel-footer {
      padding: 0;
      .block-name {
        text-align: right;
        margin-right: 23px;
        color: #a2a2a2;
        font-weight: bold;
      }
    }
    .panel-heading {
      background-color: transparent;
      border: 0;
      h3 {
        padding: 1em;
        padding-left: 0;
      }
    }
    .panel-body {
      padding-top: 0.5em;

      &.small {
        overflow: auto;
        height: 100px;
      }
    }
  }
  .block-actions {
    // position: absolute;
    // right: 1px;
    // top: 1px;
    z-index: 1;
    width: 100%;
    .action {
      float: right;
      color: #b9b9b9;
    }
  }
  .editable-click,
  a.editable-click {
    color: $brand-success;
    border-bottom: dashed 1px $brand-success;
    &.editable-empty {
      color: lighten($brand-success, 30);
    }
  }
}
.popover-wrapper form {
  margin-left: -50px;
}
div.collapse {
  overflow: visible;
}
