choose-article {
  .btn-choose-article {
    margin-bottom: 10px;
    width: 100%;
  }
}
.panel .media .media-left {
  i {
    font-size: x-large;
    padding-bottom: 15px;
  }
}
.article-option {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 10px;
}
