<ng-template #customItemTemplate let-model="item" let-index="index">
  <div class='article-option'>
    <b>
      {{(model.title || '') | stripTags |shorten: 80: '...' }}
    </b>
    <div class='body'>
      {{(model.body || '') | stripTags |shorten: 100: '...' }}
    </div>
  </div>
</ng-template>


<div>
  <button type="button" class="btn-choose-article btn btn-default" (click)="modal.show()">
    <i class="fa fa-plus fa-fw"></i> {{"choose_article.button" | translate}}</button>

  <div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" (onShow)="searchArticle()"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{"choose_article.title" | translate}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">
              <i class="fa fa-times fa-fw"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row search-blocks">
              <div class="col-md-12 form-group">
                <input [(ngModel)]="query" [typeahead]="articles" (typeaheadOnSelect)="chooseArticle($event.item)"
                  [typeaheadOptionsLimit]="15" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10"
                  [typeaheadItemTemplate]="customItemTemplate" typeaheadOptionField="title" typeaheadWaitMs="250"
                  placeholder="{{'choose_article.search.placeholder' | translate}}" class="form-control" [autofocus]>

              </div>
            </div>
            <div class="row articles">
              <div class="article {{article.type | underscore | slugify}}" *ngFor="let article of chosenArticles">
                <div class="panel media">
                  <div class="media-left media-middle">
                    <i class="fa fa-times" (click)="remove(article)"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      {{article.title}}
                    </h4>
                    <p>{{(article.body || '') | stripTags | shorten: 200: '...': true }}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="save(modal)">{{"choose_article.save" | translate}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
