<div class="side-options">
  <div class="visibility panel panel-default">
    <div class="panel-heading">{{"article.basic_editor.visibility" | translate}}</div>
    <div class="panel-body">
      <div>
        <input type="radio" [(ngModel)]="article.access" [value]="public()">
        <i class="fa fa-unlock fa-fw"></i> {{"article.basic_editor.visibility.public" | translate}}
      </div>
      <div>
        <input type="radio" [(ngModel)]="article.access" [value]="private()">
        <i class="fa fa-lock fa-fw"></i> {{"article.basic_editor.visibility.private" | translate}}
      </div>
    </div>
  </div>
</div>
