.side-options {
  margin-top: 25px;
  .visibility {
    .panel-heading {
      background-color: transparent;
      font-weight: bold;
    }
    .panel-body {
      i {
        color: #a5a5a5;
      }
    }
  }
}
