<div class="activities">
  <noosfero-scrap
    [profile]="profile"
    [permission]="profile.permissions"
    permissionAction="allow_post_scrap"
  ></noosfero-scrap>

  <div class="activities-list">
    <ngx-loading [show]="loading"></ngx-loading>
    <div *ngFor="let activity of activities" class="activity-item" [@fadeInOut]>
      <noosfero-activity [activity]="activity"></noosfero-activity>
    </div>
    <div *ngIf="hasActivities" class="row">
      <div class="col-md-12">
        <button
          class="btn btn-primary btn-lg btn-view-more"
          (click)="viewMore()"
        >
          {{ "activities.view_more" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
