.activities{
  background-color: white;
}
.activities-list {
  padding: 1px 20px;
  .activity-item {
    border-top: 1px solid #e8e8e8;
  }
}
.comma-separated {
  .separated-item {
    &:after {
      content: ", ";
      margin-left: -3px;
    }
    &:last-child:after {
      content: "";
    }
  }
}

.noosfero-route-activities-component {
	.mainblock {
		background-color: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
	}
}
.btn-view-more {
  width: 100%;
}
