@import "scss/variables";
@import "scss/bootstrap";
@import "bootstrap/grid";

noosfero-profile-images-plugin-profile-images-block {
  .thumbnail {
    height: 63px;
  }
  .profile-images-block {
    @extend .row;
    .image-block {
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-xs-12;
    }
  }
}
