<div
  class="profile-menu"
  dropdown
  [permission]="profile.permissions"
  permissionAction="allow_edit,allow_post_content"
>
  <button
    dropdownToggle
    class="btn btn-sm btn-primary new-item-button"
    (click)="(false)"
  >
    {{ "profile.actions.new_item" | translate }}
    <em class="fa fa-caret-down"></em>
  </button>
  <ul *dropdownMenu class="dropdown-menu">
    <li *ngIf="hasOneBlog()" class="profile-actions-item">
      <a
        [routerLink]="['/myprofile', profile.identifier, 'cms']"
        [queryParams]="{ parent_id: blogs[0].id }"
        class="new-post"
      >
        <em class="fa fa-file fa-fw fa-lg"></em>
        {{ "profile.actions.new_post" | translate }}
      </a>
    </li>
    <ng-container *ngIf="!hasOneBlog()">
      <li *ngFor="let blog of blogs" class="profile-actions-item">
        <a
          [routerLink]="['/myprofile', profile.identifier, 'cms']"
          [queryParams]="{ parent_id: blog.id }"
          class="new-post"
        >
          <em class="fa fa-file fa-fw fa-lg"></em>
          {{
            "profile.actions.blog.new_post" | translate: { blog: blog.title }
          }}
        </a>
      </li>
    </ng-container>

    <noosfero-hotspot-person-actions
      [profile]="profile"
    ></noosfero-hotspot-person-actions>
  </ul>
</div>
