.activity-scrap{
  profile-link{
    float: left;
  }
  .time{
    // margin-left: 10px;
    float: right;
  }
  .scrap-content{
    clear: both;

  }
  ul{

    padding: 0px;

    list-style: none;

    li{
      display: inline;
      margin-right: 5px;
    }
  }
}
