<div class="activity-scrap">
  <div class="media-left">
    <noosfero-profile-image
      [profile]="scrap.sender"
      class="avatar"
    ></noosfero-profile-image>
  </div>
  <div class="media-body">
    <div class="panel-body">
      <div class="card-title">
        <profile-link
          [profile]="scrap.sender"
          [truncate]="false"
        ></profile-link>
        <span class="time">
          <em class="fa fa-clock-o"></em>
          <span>{{ scrap.created_at | dateFormat | amTimeAgo }}</span>
        </span>
      </div>

      <div class="scrap-content">
        <div
          [innerHTML]="scrap.content | stripTags | shorten: 100:'...':true"
        ></div>
      </div>

      <ul>
        <li *ngIf="!hasParent()">
          <em class="fa fa-reply"></em>
          <a (click)="toggleReplayForm()" href="#">{{
            "comment.reply" | translate
          }}</a>
        </li>
        <li *ngIf="showComments && !hasParent()">
          <em class="fa fa-comments"></em>
          <a (click)="displayComments()" href="#">{{
            "scrap.view_comments" | translate
          }}</a
          > ({{scrap.replies_count}})
        </li>
        <li *ngIf="!showComments && !hasParent()">
            <em class="fa fa-comments"></em>
            <a (click)="hideComments()" href="#">{{
              "scrap.hide_comments" | translate
            }}</a
            > ({{scrap.replies_count}})
          </li>
      </ul>

      <div *ngIf="showReplyForm()" class="scrap-leave">
        <form class="scrap" (keydown.enter)="saveReply(reply)">
          <textarea
            class="form-control custom-control"
            rows="2"
            name="content"
            [(ngModel)]="reply.content"
            placeholder="{{ 'scrap.leave.message' | translate }}"
            [maxlength]="MAX_CONTENT_SIZE"
          ></textarea>
          <span class="scrap-left"
            ><em>{{ contentLeft() }} {{ "scrap.left" | translate }}</em></span
          >
        </form>
      </div>
      <noosfero-activity-scrap
        *ngFor="let reply of replies"
        [scrap]="reply"
      ></noosfero-activity-scrap>
    </div>
  </div>
</div>
