<ngx-loading [show]="loading"></ngx-loading>
<noosfero-article *ngIf="article" [article]="article" [profile]="profile"></noosfero-article>
<no-content-found *ngIf="noContentFound()" [httpStatus]="httpStatus" [profile]="profile"></no-content-found>
