<div class="footer">
  <div class="theme-footer">
    <ng-container *ngIf="myModule && hotspotComponent">
      <ng-container *ngComponentOutlet="hotspotComponent; ngModuleFactory: myModule;"></ng-container>
    </ng-container>
  </div>
</div>
