<div class="container-fluid community-members">

  <h1>{{"profile.members.title" | translate}}</h1>

  <noosfero-invite-component></noosfero-invite-component>

  <noosfero-community-members *ngIf="profile" [profile]="profile"></noosfero-community-members>
  
</div>
