@import "scss/variables";
@import "scss/bootstrap";
@import "scss/font-awesome";
@import "bootstrap/buttons";

design-toggler {
  .button-edit-mode {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;
    .icon-edit-mode {
      @extend .fa;
      @extend .fa-pencil-square-o;
      @extend .fa-fw;
    }
  }

  .button-preview-mode {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    .icon-preview-mode {
      @extend .fa;
      @extend .fa-eye;
      @extend .fa-fw;
    }
  }
}

//See if the code above is necessary
$off-text: #949494;
$off-color: #efefef;
$blue-color: #36b4f6;
$red-color: #df3b3a;
