<button *ngIf='inDesignMode' type="button" class="button-preview-mode" [disabled]="isLoading" (click)="togleDesignMode()">
  <i class='icon-preview-mode'></i>
  {{ 'design-toggler.preview.mode' | translate }}
</button>

<button *ngIf='!inDesignMode' type="button" class="button-edit-mode" [disabled]="isLoading" (click)="togleDesignMode()">
  <i class='icon-edit-mode'></i>
  {{ "design-toggler.edit.mode" | translate }}
</button>
