/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import "scss/variables";
@import "bootstrap";
@import "font-awesome";

@import "~dragula/dist/dragula.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~ngx-toastr/toastr";

@import "~ngx-bootstrap/datepicker/bs-datepicker.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: #237394;
}

@media (min-width: 1380px) {
  .container {
    width: 1380px;
  }
}

.full-content {
  margin-left: 0px !important;
}

@import "app/layout/scss/mixins";
@import "app/layout/scss/layout";
@import "app/layout/scss/tables";
@import "app/layout/scss/forms";
@import "app/layout/scss/icons";
@import "app/layout/scss/animations";
@import "app/shared/components/bootstrap-resizable/bootstrap-resizable.scss";
@import "theme/style";
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
