.nav-tabs .nav-item.active a {
  &:focus{
      background-color: white;
  }
  &:hover{
      background-color: white;
  }
  background-color: white;
}

.tab-content{
  background-color: white;
  border: 1px solid #ddd;
  border-top: transparent;
}