<div class="search-results container-fluid">
    <tabset #staticTabs>
        <tab heading="{{'search.label.articles' | translate}}" (select)="changeTab('Articles')">
            <search-result *ngIf="isSearchArticles()" [query]="query" [searchType]="searchType"></search-result>
        </tab>
        <tab heading="{{'search.label.people' | translate}}" (select)="changeTab('People')">
            <search-result *ngIf="isSearchPeople()" [query]="query" [searchType]="searchType"></search-result>
        </tab>
        <tab heading="{{'search.label.communities' | translate}}" (select)="changeTab('Communities')">
            <search-result *ngIf="isSearchCommunity()" [query]="query" [searchType]="searchType"></search-result>
        </tab>
    </tabset>

</div>
