<div class="media-left">
  <noosfero-profile-image
    [profile]="activity.user"
    class="avatar"
  ></noosfero-profile-image>
</div>
<div class="media-body">
  <div class="panel-body">
    <div class="card-title">
      <profile-link [profile]="activity.user" [truncate]="false"></profile-link>
      <span class="time">
        <em class="fa fa-clock-o"></em>
        <span>{{ activity.created_at | dateFormat | amTimeAgo }}</span>
      </span>
    </div>
    <div class="card-type">
      <em [title]="iconalt | translate" class="{{ iconclass }}"></em>
      <span [ngPlural]="count()">
        <ng-template ngPluralCase="=1">{{ getDesc() | translate }}</ng-template>
        <ng-template ngPluralCase="other">{{
          getDesc() | translate: { value: profiles }
        }}</ng-template>
      </span>
    </div>
  </div>
</div>
