@import "scss/mixins";

.col-md-2-5 .deckgrid[deckgrid]::before {
  visibility: hidden;
}

.recent-activities-block {
  .profile-link .profile-name {
    display: initial;
  }
  img,
  .upimg {
    padding: 1px;
    border: 1px solid #ccc;
    margin-right: 2px;
    margin-top: 2px;
  }

  .upimg {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;

    span {
      display: none;
    }
  }

  .panel {
    margin-bottom: 15px;
    box-shadow: none;
    border-radius: 0;
  }

  h5 {
    text-transform: capitalize;
  }

  .subheader {
    p {
      margin: 2px 0;
      font-size: 10px;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 0;
    margin-top: 15px;
  }

  .activity-label {
    border-radius: 2px;
    font-size: 11px;
    text-transform: capitalize;
    background: #333;
    color: #fff;
    padding: 2px;
    margin-left: 5px;
    display: inline-block;
  }

  .event-image {
    width: 15%;
    height: auto;
    float: left;
  }

  .event-description {
    // width: 83%;
    margin: 2px 0 0 2px;
    // float: left;
    display: block;
  }

  .new_friendship .title,
  .new_follower .title {
    display: block;
  }
}
