<div class="deckgrid recent-activities-block">
  <div *ngFor="let activity of activities" class="a-card panel media">

    <div class="subheader">
      <p *ngIf="activity.label === 'events'">
        {{ 'activities.event.description' | translate }}
        <b>{{ activity.start_date | date:longDate }}</b> {{ 'time.at' | translate }} {{ activity.start_date |
        date:'HH:mm' }}
        -
        <profile-link [profile]="activity.user" [truncate]="false"></profile-link>
      </p>
      <p *ngIf="activity.label !== 'events'">
        {{ 'date.on' | translate }}
        <b>{{ activity.created_at | date:longDate }}</b>
        {{ 'time.at' | translate }} {{ activity.created_at | date:'HH:mm' }} -
        <profile-link [profile]="activity.user" [truncate]="false"></profile-link>
        <span class='activity-label'>{{activity.label}}</span>
      </p>
    </div>

    <div class="header media-body">
      <ng-container [ngSwitch]="activity.verb">
        <div *ngSwitchCase="'create_article'" class="activity {{activity.verb}}">
          <span *ngIf="activity.label !== 'events'">
            {{'published an article:' | translate}}
            <a [href]="activity.params.url | noosferoUrl">{{activity.params.name}}</a>
          </span>
          <span *ngIf="activity.label == 'events'">
            <img *ngIf="activity.params.first_image" [src]="activity.params.first_image" [alt]="activity.params.name"
              class="event-image" />
            <p class="event-description">
              <b>{{activity.params.name}}</b>
              {{activity.params.lead | stripTags}}</p>
          </span>
        </div>
        <div *ngSwitchCase="'new_friendship'" class="activity {{activity.verb}}">
          <span class='title'>{{'has made new friends:' | translate}} </span>
          <span *ngFor="let name of activity.params.friend_name; let i = index">
            <a [href]="activity.params.friend_url[i] | noosferoUrl" [title]="name">
              <img [src]="activity.params.friend_profile_custom_icon[i]" [alt]="name" />
            </a>
          </span>
        </div>
        <div *ngSwitchCase="'new_follower'" class="activity {{activity.verb}}">
          <span class='title'>{{'has new followers:' | translate}} </span>
          <span *ngFor="let name of activity.params.follower_name; let i = index">
            <a [href]="activity.params.follower_url[i] | noosferoUrl" [title]="name">
              <img [src]="activity.params.follower_profile_custom_icon[i]" [alt]="name" />
            </a>
          </span>
        </div>
      </ng-container>
    </div>
    <hr />
  </div>
</div>
