<nav id="navbar" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <theme-header></theme-header>
    <div class="navbar-header">
      <button type="button" (click)="navCollapsed = !navCollapsed" class="pull-right navbar-toggle collapsed"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{{"navbar.toggle_menu" | translate}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="noosfero-logo"> </span>
        <h1 class="noosfero-name">{{ environment.name }}</h1>
      </a>
    </div>

    <div [collapse]="navCollapsed" class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <search-form></search-form>
        </li>
        <li *ngIf="currentUser">
          <tasks-menu [taskTypes]="['AddFriend']" class="friendship-menu navbar-nav pull-right"></tasks-menu>
        </li>
        <li *ngIf="currentUser">
          <tasks-menu class="navbar-nav pull-right"></tasks-menu>
        </li>
        <li class="btn-nav" *ngIf="!currentUser">
          <a href="#" class="login" (click)="openLogin()">{{"navbar.login" | translate}}</a>
        </li>

        <li *ngIf="!currentUser">
          <a [routerLink]="['/account/signup']" class="signup">{{"navbar.signup.button" | translate}}</a>
        </li>
        <li class="dropdown profile-menu" *ngIf="currentUser" dropdown>

          <a href="#" class="dropdown-toggle profile-link" aria-expanded="false" dropdownToggle>
            <noosfero-profile-image [profile]="currentUser.person" class="dropdown-profile-image"></noosfero-profile-image>
            <span class="truncated-profile-name">{{currentUser.person.name}}</span>
            <i class="fa fa-fw fa-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-profile" *dropdownMenu>
            <li>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                    <profile-link [profile]="currentUser.person" [displayName]="false" [displayImage]="true"></profile-link>
                  </div>
                  <div class="col-xs-8 col-sm-8 col-md-8 profile-menu-info">
                    <div class="row name">
                      <profile-link [profile]="currentUser.person" [truncate]="false"></profile-link>
                    </div>
                    <div class="row email">{{currentUser.email}}</div>
                    <div class="row text-center">
                      <a class="btn btn-default btn-edit" [routerLink]="['/myprofile', currentUser.person.identifier]">
                        {{"navbar.profile" | translate}}</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="divider"></div>
                </div>
                <div class="row">
                  <div class="profile-menu-logout">
                    <a class="btn btn-default btn-logout" href="#" (click)="logout()">{{"navbar.logout" | translate}}</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<noosfero-login [(show)]="showLoginModal"></noosfero-login>
