@import "scss/variables";
@import "scss/bootstrap";
@import "scss/font-awesome";
@import "bootstrap/scaffolding";

$navbar-font-color: #fff;

.navbar-inverse .navbar-nav {
  > .open {
    > a {
      background-color: rgba(255, 255, 255, 0.1);
    }
    > a:focus {
      background-color: rgba(255, 255, 255, 0.1);
    }
    > a:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.navbar {
  z-index: 1050;
  tasks-menu {
    &.friendship-menu {
      .tasks-icon {
        @extend .fa-user-o;
      }
    }
  }

  .noosfero-name {
    font-size: 19px;
    display: none;
  }

  .container {
    .navbar-header {
      > ul {
        width: 100%;
      }
      li {
        display: inline-block;
      }
      tasks-menu {
        &.navbar-nav {
          margin: 0;
        }
      }
      .navbar-toggle {
        margin-left: 10px;
        margin-right: 0;
      }
    }
    .navbar-brand {
      .noosfero-logo {
        background: url("../../../assets/images/logo-noosfero.png") no-repeat;
        padding: 20px 60px;
        background-position: 2px 16px;
      }
    }

    .navbar-nav {
      li {
        height: 100%;
        > a {
          color: $navbar-font-color;
        }
        .tasks-menu-link,
        search-form > a {
          padding: 18px 15px;
          display: inline-block;
        }
      }
      i {
        color: $navbar-font-color;
        &.fa-chevron-down {
          font-size: 9px;
          position: relative;
          top: -1px;
        }
      }
      .dropdown-toggle {
        height: 100%;
      }

      .profile-menu {
        margin-right: 50px;
        .dropdown-toggle {
          padding: 16px 0 16px 8px;
        }
        .dropdown-profile-image {
          img {
            height: 30px;
            width: 30px;
            display: inline-block;
            @extend .img-circle;
          }
          i {
            font-size: 1.7em;
          }
        }
        .truncated-profile-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 140px;
          display: inline-block;
          vertical-align: middle;
          @media (max-width: $break-md-max) {
            max-width: 80px;
          }
          @media (max-width: $break-sm-max) {
            max-width: 105px;
          }
        }
      }

      .dropdown-menu-profile {
        min-width: 350px;
        padding: 10px;

        noosfero-profile-image {
          img {
            max-width: 5em;
          }
          .item-avatar-img {
            color: #a2a2a2;
          }
        }

        .profile-menu-info {
          .name {
            font-weight: bold;
          }

          .email {
            font-size: 0.7em;
            margin-bottom: 10px;
            word-wrap: break-word;
          }

          .btn-edit {
            width: 100%;
          }
        }

        .profile-menu-logout {
          text-align: right;
          font-size: 0.8em;

          .btn-logout {
            border: none;
          }
        }

        .divider {
          margin: 5px 0;
        }
      }
    }

    .search {
      .search-input {
        height: 45px;
        margin-top: 10px;
      }
      .input-group-btn {
        padding-top: 10px;
      }
    }

    @media (max-width: $break-sm-max) {
      .navbar-toggle .fa-bars {
        font-size: 14pt;
      }
    }
  }

  .btn-nav {
    border-radius: 0px;
    height: 100%;
    border: none;
  }
}
