@import 'scss/variables';
@import 'scss/bootstrap';
@import 'bootstrap/grid';
@import 'bootstrap/utilities';

.profile-list {

  .profile-image-wrap{
    display: inherit;
    padding: 2px;
    width: 68px;
    height: 68px;
    overflow: hidden;
    .item-avatar-img{
      padding: 0px;
    }
  }
  .image-block  img {
    width: inherit;
    height: inherit;
    min-height: 68px;
  }

  .profile-image-wrap  i {
    width: 68px;
    height: 68px;
  }
  @extend .container-fluid;
  @extend .row;

  .profile-item {
    position: relative;
    display: block;
    float: left;
    max-width: 68px;
    // margin-bottom: 10px;

    @media (min-width: 1380px) {
      width: 33.3%
    }

    min-height: 68px;
    .media-body {
      display: block;
      width: 100%;
      .media-heading {
        color: $secondary-color;
        display: inline-block;
        a{
          &:hover{
          color: $secondary-color;
          }
          color: $secondary-color;
        }
      }
      .profile-link {
        color: $secondary-color;
      }
      .profile-edition-link {
        vertical-align: 20%;
        margin-left: 10px;
        .edit-icon {
          color: $secondary-color;
        }
      }
    }    
    &:hover {
      .profile-list-edition {
        display: inline;
      }
    }
    .profile-list-edition {
      display: none;
    }
    .profile-link {
      .profile-image {
        color: $text-color;
        text-align: center;
        @extend .center-block;
        margin: 0px;
        img {
          @extend .center-block;
          border-radius: 0;
          background-color: #dcdcdc;
        }
        i {
          &.fa-users{
            padding: 8px;
            padding-top: 12px;
            padding-right: 16px;
            font-size: 46px;
          }
          background-color: #dcdcdc;
          padding: 10px;
          padding-right: 15px;
          font-size: 50px;
        }
      }
      .profile-name {
        text-align: center;
        color: $text-color;
        font-size: 12px;
        word-wrap: break-word;
        padding: 0 10px;
      }
    }
  }

  .profile-item-card {
    margin: 10px;
    max-width: 172px;

    .profile-image-wrap {
      width: 175px;
      height: 175px;
    }

    .profile-image-wrap i {
      width: 175px;
      height: 175px;
    }

    .profile-link {
      .profile-image {
        i.item-avatar-img {
          line-height: 175px;
          padding: 8px;
          font-size: 52px;
        }
      }
      .profile-name {
        height: 32px;
        overflow: hidden;
      }
    }
  }

}
