<div id="config-tool" [permission]="owner.permissions" [permissionAction]="permissionAction">
  <div class="config-option layout-config">
    <layout-config class='animate' *ngIf="designModeOn" [owner]="owner"></layout-config>
  </div>

  <div class="config-option design-mode">
    <design-toggler></design-toggler>
  </div>
</div>
