.block.recentdocumentsblock {
  .author {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .header {
    .subheader {
      color: #c1c1c1;
      font-size: 10px;
    }
  }
  .post-lead {
    color: #8e8e8e;
    font-size: 14px;
  }
  .article-image {
    margin: 10px 0;
  }
  .media-left {
    width: 20%;
  }
}
