@import "scss/variables";
@import "scss/bootstrap";
@import "bootstrap/scaffolding";

$task-action-accept-color: #77c123;
$task-action-reject-color: #d64e18;

.task-list {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
  list-style-type: none;
  .task-group {
    padding: 0 16px;
    width: 100%;
  }
  .task-target {
    background-color: #848484;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    noosfero-profile-image {
      .item-avatar-img {
        color: white;
        font-size: 25px;
        width: 25px;
        display: inline-block;
        @extend .img-rounded;
      }
    }
    .target-name {
      display: inline-block;
      margin-left: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .task-body {
    margin-left: 10px;
    padding: 2px;
    padding-bottom: 8px;
    margin-right: 4px;
    &:not(:last-child) {
      border-bottom: 1px solid #efefef;
    }
    .task {
      display: inline-block;
      color: #949494;
      padding-left: 0;
      .task-icon {
        font-size: 18px;
        color: #e84e40;
      }
      .requestor,
      .target {
        font-style: italic;
        color: #676767;
      }
      i {
        vertical-align: top;
      }
      .task-content {
        display: inline-block;
        width: 90%;
      }
    }
    .actions {
      font-size: 19px;
      text-align: right;
      padding-right: 4px;
      a {
        text-decoration: none;
      }
      .accept {
        i {
          color: $task-action-accept-color;
        }
        &:hover {
          i {
            color: darken($task-action-accept-color, 10%);
          }
        }
      }
      .reject {
        i {
          color: $task-action-reject-color;
        }
        &:hover {
          i {
            color: darken($task-action-reject-color, 10%);
          }
        }
      }
    }
    .time {
      color: #c1c1c1;
      font-size: 12px;
      margin-left: 26px;
      .bullet-separator {
        font-size: 10px;
        color: #d1d1d1;
      }
    }
  }
}
task-list {
  .modal {
    .actions {
      margin-top: 10px;
      text-align: center;
    }
  }
}
